<h3>2. Single File Upload (Keep Original Filename)</h3>
<form action="/upload" enctype="multipart/form-data" method="post">
  <input type="file" name="attachment">
  <button type="submit" class="btn btn-primary">Upload</button>
</form>
<hr>